body {background-color:#4cff00; color:black;
}

header {font-weight:bold; font-size:24px}

.GridView {text-align:center; font-family:sans-serif; background-color:#00ffff;
padding:10px; border:solid 2px #000000;margin:auto;
}